@import "tailwindcss";

/* Ẩn thanh cuộn cho Chrome, Safari và Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn cho IE, Edge và Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Animation cho Modal Reset Hệ Thống */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}
